#body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    background-color:#f4f4f4;
    margin:0
}

header{
    background: url('https://images.unsplash.com/photo-1579621977728-b634b7faac24?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDg5fHxyaXN0b3JhbnQgfGVufDB8fHx8fDE2NTc0ODk4OTM&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center/cover;
    color:whitesmoke;
    text-align: center;
    font-size: 36px;
    padding: 100px 20px;
}

header  h1 {
    font: size 3rem;
    font-weight:bold;
    text-transform:uppercase
}
