#body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    background-color:gray;
    color: aliceblue;
}

#navigation{
    display: block;
    color: white;
    transition:background-color white;
}

#recipes{
    
}
